/* background-color: #ECECEC */
:root {
    --main-white-color: #ffffff;
    --secondary-background-color: #2F303A;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --first-logo-color: #000000;
    --nav-color: #2196F3;
}

body {
    color: var(--secondary-text-color);
    font-family: "Roboto", sans-serif;
    background-color: var(--main-white-color);
    letter-spacing: 0.03em;
}

 ul {
    list-style: none;
 }

h2,h3 {
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
}      

/* Шапка */
    /* Лого */
    .logo {
        color: var(--first-logo-color);
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.02em;
    }

    .logo-blue {
        color: var(--nav-color);
    }

    /* Навігація по сайту + контакти */
    .navi-link {
        color: var(--primary-text-color);
        Font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

    .navi .navi-link.current {
        color: var(--nav-color);
    }

    .contacts-link {
        color: var(--secondary-text-color);
        Font-weight: 500;
        font-size: 14px;
        Line-height: 1.14;
        letter-spacing: 0.02em;
    }

    .navi-link:focus,
    .contacts-link:focus,
    .foot-add-link:focus,
    .navi-link:hover,
    .contacts-link:hover,
    .foot-add-link:hover {
        color: var(--nav-color);
    }
     
/* Hero */
.hero {
    background-color: var(--secondary-background-color);
}

.hero-text {
    color: var(--main-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.hero-button {
    background-color: var(--nav-color);

    color: var(--main-white-color);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;

    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
    color: #ffffff;

}
/* Особливості */

 .peculiarities-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
 }

.peculiarities-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}


/* Чим ми займаємось */
.capabilities,
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;letter-spacing: 0.03em;
}

 /* Наша команда */
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-job {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}


/* Подвал */
.foot {
    background-color: var(--secondary-background-color);
}

.foot.logo {
    color: var(--main-white-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.foot-add-map {
    color: var(--main-white-color);
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.foot-add-link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* Portfolio */
.filters-button {
    background-color: #F5F4FA;

    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    
    cursor: pointer;
}
.foot-add-map:hover,
.foot-add-map:focus,
.filters-button:hover,
.filters-button:focus {
    color: var(--nav-color);
}
 
/* Проекти */
.project-list {
    background-color: var(--main-white-color);
}

.base {
    background-color: #F5F5F5;
} 

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-text {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.1em;
}